node_modules
build
.vscode
package-lock.json
config/production.json
logs/execution.json
docker-compose-fam.yml
config/development.json
Makefile
.aider.tags.cache.v3/
.aider.chat.history.md
.aider.input.history
docker-compose-locally.yml
domain-old.drawio
domain-single.drawio
my-docker-compose-local.yml
my-docker-compose-remote.yml
my-local.env
my-remote.env
